/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.navbar-text {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    display: inline-block;
    float: initial;
}

.btn a {
    color: white; text-decoration: none
}